In [24]:
# names = ['jonas', 'domas', 'ignas']
# names.append('saulius')
# print(len(names))
# print(names)
# 'domas' in names

# cities = ['vilnius', 'kaunas', 'alytus']
# print(cities)
# combined_list = [names] + [cities]
# print(combined_list)
# print(combined_list.pop())
# print(combined_list)

4
['jonas', 'domas', 'ignas', 'saulius']
['vilnius', 'kaunas', 'alytus']
[['jonas', 'domas', 'ignas', 'saulius'], ['vilnius', 'kaunas', 'alytus']]
['vilnius', 'kaunas', 'alytus']
[['jonas', 'domas', 'ignas', 'saulius']]

In [1]:
numbers = [3, 7, 1, 9, 4, 2]
max_number = max(numbers)
print(max_number)

9

In [6]:
fruits = ['apple', 'banana', 'orange', 'grapes', 'pineapple',]
input()
print('apple' in fruits)

True

In [3]:
list_1 = [11, 23, 97, 10, 55, 46, 16, 72, 3, 72, 17, 29, 21, 48, 50, 4, 73, 44, 18, 30, 53, 95, 15, 69, 86, 39, 6, 89, 89, 2, 26, 54, 27, 39, 3, 69, 21,
           62, 99, 11, 49, 58, 78, 53, 46, 50, 39, 100, 77, 41, 7, 10, 53, 33, 74, 78, 20, 41, 65, 9, 84, 11, 90, 65, 43, 78, 15, 49, 87, 48, 84, 31, 17,
             17, 60, 47, 71, 7, 23, 56, 74, 45, 74, 17, 27, 52, 80, 26, 93, 14, 76, 28, 99, 3, 61, 67, 71, 24, 77, 74]
input()
selected_numbers = 97

'97'